* {
  margin: 0; padding: 0; box-sizing: border-box;
}
main {
  width: 700px;
  height: 500px;
  margin: 20px auto;
}
.header {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.addInput {
  width: 80%;
  height: 50px;
  font-size: 1.1rem;
  border-width: 1px;
  border-color: rgb(164, 214, 255);
}
.addBtn {
  width: 10%;
  height: 50px;
  background-color: rgb(164, 214, 255);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
}

.todo-tit {
  font-size: 1.35em;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(92, 163, 255);

}

.todo-item {
  position: relative;
  width: 700px;
  min-height: 30px;
  font-size: 1.1rem;
  line-height: 30px;
  border-left: 3px solid skyblue;
  margin-bottom: 10px;
  padding-left: 15px;
  display: flex;
justify-content: space-between;
}
.todo-item p {
  width: 70%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tool {
  width: 20%;
}
.tool button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid rgb(92, 163, 255);
  color: #999;
  padding: 5px 10px;  
  margin-right: 10px;
  transition: .3s;
}
.tool button:last-child {margin: 0;}
.tool button:hover {
  background-color: rgb(80, 168, 255);
  color: #fff;
  transition: .3s;
}